.Operations {
  background-color: rgb(253, 251, 251);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
  font-size: 30px;
}

.Operator0 {
  grid-row: 1 / span 1;
  background-color: rgb(241, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Operator0:hover {
  background-color: rgb(219, 214, 214);
}

.Operator1 {
  grid-row: 1 / span 1;
  background-color: rgb(241, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Operator1:hover {
  background-color: rgb(219, 214, 214);
  cursor: pointer;
}

.Operator2 {
  grid-row: 2 / span 1;
  background-color: rgb(241, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Operator2:hover {
  background-color: rgb(219, 214, 214);
  cursor: pointer;
}
.Operator3 {
  grid-row: 3 / span 1;
  background-color: rgb(241, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Operator3:hover {
  background-color: rgb(219, 214, 214);
  cursor: pointer;
}

.Operator4 {
  grid-row: 4 / span 1;
  background-color: rgb(241, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Operator4:hover {
  background-color: rgb(219, 214, 214);
  cursor: pointer;
}
